/* animation */
.content-wrapper {
  animation: transistionIn 2s;
}
.img-landing-page {
  animation: transistionIn 2s;
}
.explore-now {
  animation-delay: 0.5s;
  animation: transistionIn 4s;
}
.nav-bar-wrapper {
  animation: transistionDown 2s;
}
@keyframes transistionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
@keyframes transistionDown {
  from {
    opacity: 0;
    transition: opacity 0.75s;
    transform: translateY(-40px);
    transition: transform 0.5s;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

html {
  scroll-behavior: smooth;
}
a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
.to-top {
  color: white;
  padding: 15px 18px;
  margin: auto;
}

#mybutton {
  background-color: #ffc83c;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  border-radius: 10px;
}
#mybutton:hover {
  cursor: pointer;
}
.fa-arrow-up {
  font-size: 29px;
  text-align: center;
}
/* slick jquery css */
.slick-prev:before,
.slick-next:before {
  color: black !important;
  font-size: 29px;
}
.slick-slide {
  outline: none;
}
.draggable {
  padding: 0px !important;
}

/* body */
body {
  background-color: #dce1e3;
  font-family: "Vollkorn", serif;
  margin: auto;
  scroll-snap-type: y mandatory;
}
.body-wrapper {
  /* width: 1200px; */
  height: 100%;
  margin: auto;
  background-color: #ffffff;
  /* scroll-snap-align: end; */
  /* overflow: scroll; */
}
/* nav-bar */
.logo-image {
  float: left;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin-left: 80px;
  /* overflow: hidden; */
  /* margin-top: -6px; */
}
.img-fluid {
  width: 120px;
  height: 100px;
}
ol {
  list-style-type: none;
  /* float: left; */
  margin: 5px;
  margin-top: 20px;
}
li {
  float: left;
  margin: 20px;
  font-size: 21px;
}
.nav-bar-wrapper {
  width: 100%;
  background-color: #f1f1f1;
  position: fixed;
  z-index: 1000;
}
.nav-bar-container {
  width: 600px;
  height: 80px;
  margin: auto;
}
.nav-bar-container > ol > li > a:hover {
  color: #796a6a;
  cursor: pointer;
}

/* products detail page */

.product-decor {
  padding-top: 140px;
  font-size: 30px;
  font-weight: 600;
  width: 10%;
  margin: auto;
  text-align: center;
  border-bottom: 8px solid #ffc83c;
}

.line-decor {
  border-bottom: 1px solid lightgray;
  padding-top: 80px;
  width: 90%;
  margin: auto;
}

.product-detail-wrapper {
  height: 100%;
  width: 90%;
  margin: auto;
  background-color: white;
}
.product {
  display: flex;
  padding: 20px;
  margin: auto;
}
.product-imgs-wrapper > img {
  width: 700px;
  height: 700px;
}
.product-imgs-wrapper {
  /* width: 1000px !important; */
}
.flex-imgs {
  width: 700px !important;
  margin-top: 0px !important;
  margin: auto;
  padding-left: 0px !important;
}
.alt-img {
  width: 190px !important;
  margin: 5px !important;
}
.alt-img > img {
  width: 190px;
  height: 200px;
  /* margin-left: 20px; */
}
.product > * {
  margin: 60px 20px 10px 70px;
}
.product > .description-wrapper > .description-title {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  margin-left: 40px;
}
.description-price {
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  margin-left: 40px;
  margin-top: 20px;
  color: #ffc83c;
}
.description-text {
  width: 70%;
  font-size: 17px;
  line-height: 1.5;
  font-weight: 500;
  margin-left: 40px;
  margin-top: 20px;
  border-bottom: 4px solid #ffc83c;
  color: #c7c7c7;
  text-align: left;
  white-space: normal;
}
.description-buy-container {
  display: flex;
  width: 220px;
  margin-left: 40px;
  margin-top: 20px;
  background-color: black;
  justify-content: space-evenly;
  height: 55px;
}
.description-buy-container > * {
  text-align: center;
  font-size: 25px;
  color: white;
  /* line-height: 2; */
}
.buy-now {
  line-height: 2.2;
}
.description-buy-container > i {
  line-height: 1.8;
}
.description-buy-container:hover {
  background-color: rgb(45, 45, 45);
  cursor: pointer;
}
.suggestion-wrapper {
  padding-top: 50px;
  width: 60%;
  height: 500px;
  /* margin-left: 40px; */
  margin: auto;
}
.suggestion-text {
  margin: auto;
  font-size: 29px;
  font-weight: 600;
  border-bottom: 8px solid #ffc83c;
  width: 30%;
  text-align: center;
}
.suggestion-ol-content {
  float: left;
  padding: 0px !important;
}
.suggestion-li-content {
}
.suggestion-content-detail-wrapper {
  text-align: center;
}
.suggestion-content-detail-wrapper > img {
  width: 200px;
  height: 200px;
}
/* footer */
.footer-wrapper {
  height: 200px;
  background-color: black;
}
.footer-container {
  padding-top: 35px;
  width: 900px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  /* flex: auto; */
}
.footer-title {
  font-weight: 900;
  font-style: italic;
}
.contact-details {
  padding-top: 20px;
}
.left-footer {
  display: inline-block;
}
.center-footer {
  display: inline-block;
}
.right-footer {
  display: inline-block;
}
.shipping-store-payment {
  font-family: "Raleway", sans-serif;

  color: white;
  font-size: 18px;
  margin-top: 20px;
}
.shipping-store-payment:hover {
  color: #796a6a;
  cursor: pointer;
}
.contact-number-info {
  font-family: "Raleway", sans-serif;

  color: white;
  font-size: 18px;
  margin-top: 20px;
}
.contact-number-info:hover {
  color: #796a6a;
  cursor: pointer;
}
.fb-ig-pt {
  font-family: "Raleway", sans-serif;

  color: white;
  font-size: 18px;
  margin-top: 20px;
}
.fb-ig-pt:hover {
  color: #796a6a;
  cursor: pointer;
}
.media-text {
  font-family: "Raleway", sans-serif;
  border-bottom: 1px solid white;
  width: 200px;
  color: white;
  font-size: 22px;
  display: block;
  margin: auto;
  text-align: center;
  font-size: 29px;
}
.media-container {
  padding-top: 29px;
  height: 200px;
  background-color: black;
}
.facebook {
  /* background-color: #483e3b; */
  margin: auto;
  width: 200px;
}
.fb-ig {
  color: white;
  font-size: 60px;
  text-align: center;
  padding: 20px;
}
.fa-facebook:hover {
  color: #1385fe;
  cursor: pointer;
}
.fa-instagram:hover {
  color: #ff52da;
  cursor: pointer;
}
/* signature bar */
.signature-bar {
  height: 40px;
  background: gray;
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
}
